.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.devcontainer/**
.devbox/**
.github/**
devbox.json
devbox.lock
.envrc
Makefile
test-resources/**
.test-extensions/**
vitest.config.ts
src/ui-test/**
src/test/**
